body {
    margin: 0px;    /* removes white border around page */
    background-color: #fcfcfc;
    font-family: 'Hero Regular';
}

/* HEADER */

.header { /* container */
    padding: 0px 20%;
    box-shadow: 0px 2px 4px #ededed;
    background-color: #1f2937;
    /* flexbox */
    display: flex;
    justify-content: space-between;
}

.logo-title {   /* container + item */
    display: flex;
    align-items: center;
    color: white;
}

.header-links { /* item */
    list-style-type: none;
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

a { /* item */
    text-decoration: none;
    color: white;
    margin: 0px 16px;
}

.rightmost-link {   /* item */
    margin-right: 0px;
}